{{#if isDemoUser }}
  {{#each (onlyNodes nodes only)}}
    {{#if (eq this.attributes.name ../login)}}
      <fieldset>
        <span class="typography-h3">
          Select role
          <span class="required-indicator">*</span>
          <select class="typography-h3 select" id="roles">
            {{#each ../roles}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </span>
      </fieldset>

      <p class="text-description" id="description">Administers the project and works on programmatic tasks such as labeling automation or filter settings. They have access to all features of the application, including the Python SDK.</p>

      <fieldset
        class="text-input-fieldset"
        data-testid="node/input/{{attributes.name}}">
        <label>
          <span class="typography-h3">
            Email address
            {{#if attributes.required}}
              <span class="required-indicator">*</span>
            {{/if}}
          </span>

          <input
            class="text-input"
            name="{{attributes.name}}"
            type="{{attributes.type}}"
            value="demo.engineer@kern.ai"
            id="email-input"
            placeholder="Email address"
            {{#if attributes.disabled}}disabled{{/if}}
          />
        </label>
        {{#if messages}}
          <div class="typography-caption">
            {{> messages }}
          </div>
        {{/if}}
      </fieldset>
    {{else}}
      {{#if (eq this.attributes.name ../password)}}
        <fieldset
          data-testid="node/input/{{attributes.name}}">
          <label class="label-input">
            <span>
              {{getNodeLabel .}}
              {{#if attributes.required}}
                <span class="required-indicator">*</span>
              {{/if}}
            </span>
            <input
              class="text-input"
              name="{{attributes.name}}"
              type="{{attributes.type}}"
              value="c34540903b9f"
              id="password-input"
              placeholder="{{getNodeLabel .}}"
              {{#if attributes.disabled}}disabled{{/if}}
            />
          </label>
          {{#if messages}}
            <div class="typography-caption">
              {{> messages }}
            </div>
          {{/if}}
        </fieldset>
      {{else}}
        {{> (toUiNodePartial .)}}
      {{/if}}
    {{/if}}
  {{/each}}
{{else}}
  {{#each (onlyNodes nodes only)}}
    {{#if ../isRegistration}}
      {{#if (eq this.attributes.name ../firstName)}}
        <fieldset
          data-testid="node/input/{{attributes.name}}">
          <label class="label-input">
            <span>
              First name
              <span class="required-indicator">*</span>
            </span>
            <input
              class="text-input"
              name="{{attributes.name}}"
              type="{{attributes.type}}"
              value="{{attributes.value}}"
              placeholder="First name"
              {{#if attributes.disabled}}disabled{{/if}}
              required
            />
          </label>
          {{#if messages}}
            <div class="typography-caption">
              {{> messages }}
            </div>
          {{/if}}
        </fieldset>
      {{else}}
        {{#if (eq this.attributes.name ../lastName)}}
          <fieldset
            data-testid="node/input/{{attributes.name}}">
            <label class="label-input">
              <span>
                Last name
                <span class="required-indicator">*</span>
              </span>
              <input
                class="text-input"
                name="{{attributes.name}}"
                type="{{attributes.type}}"
                value="{{attributes.value}}"
                placeholder="Last name"
                {{#if attributes.disabled}}disabled{{/if}}
                required
              />
            </label>
            {{#if messages}}
              <div class="typography-caption">
                {{> messages }}
              </div>
            {{/if}}
          </fieldset>
          {{else}}
            {{#if @last}}
              {{#if ../isFreeTrial}}
                <div class="info-containter">
                  <span>Once you register for an account, we’ll set up an organization for you - this is a manual step, but it usually only takes minutes.</span>
                  <div>We’ll get back to you as soon as possible.</div> 
                </div>
                {{> (toUiNodePartial .)}}
              {{else}}
                <div class="info-containter">
                  <span>This sets up a single-user account on your local machine.</span>
                  <div> If you want to use a hosted version with GPU acceleration, multi-user capabilities and additional features, check out our hostings.</div>
                </div>
                {{> (toUiNodePartial .)}}
              {{/if}}
            {{else}}
              {{> (toUiNodePartial .)}}
            {{/if}}
          {{/if}}
      {{/if}}

    {{else}}
      {{#if ../isRecovery}}
        {{#if @last}}
          <div class="input-button">
            <button class="button-sign-in"
              onclick="{{attributes.onclick}}"
              name="{{attributes.name}}"
              type="{{attributes.type}}"
              value="{{attributes.value}}"
              {{#if attributes.disabled}}disabled{{/if}}>
              Send reset code to mail
            </button>
            {{#if messages}}
              <span class="button-helper">
                {{> messages }}
              </span>
            {{/if}}
          </div>
        {{else}}
          {{> (toUiNodePartial .)}}
        {{/if}}
      {{else}}
        {{#if ../isLogin}}
          {{#if (eq this.attributes.name ../login)}}
            {{> ui_node_input_email}}
          {{else}}
            {{> (toUiNodePartial .)}}
          {{/if}}
        {{else}}
          {{#if ../isSettings}}
            {{#if (eq this.attributes.name ../firstName)}}
              <fieldset
                data-testid="node/input/{{attributes.name}}">
                <label class="label-input">
                  <span>
                    First name
                    <span class="required-indicator">*</span>
                  </span>
                  <input
                    class="text-input"
                    name="{{attributes.name}}"
                    type="{{attributes.type}}"
                    value="{{attributes.value}}"
                    placeholder="First name"
                    {{#if attributes.disabled}}disabled{{/if}}
                    required
                  />
                </label>
                {{#if messages}}
                  <div class="typography-caption">
                    {{> messages }}
                  </div>
                {{/if}}
              </fieldset>
            {{else}}
              {{#if (eq this.attributes.name ../lastName)}}
                <fieldset
                  data-testid="node/input/{{attributes.name}}">
                  <label class="label-input">
                    <span>
                      Last name
                      <span class="required-indicator">*</span>
                    </span>
                    <input
                      class="text-input"
                      name="{{attributes.name}}"
                      type="{{attributes.type}}"
                      value="{{attributes.value}}"
                      placeholder="Last name"
                      {{#if attributes.disabled}}disabled{{/if}}
                      required
                    />
                  </label>
                  {{#if messages}}
                    <div class="typography-caption">
                      {{> messages }}
                    </div>
                  {{/if}}
                </fieldset>
              {{else}}
                {{> (toUiNodePartial .)}}
              {{/if}}
            {{/if}}
          {{else}}
            {{> (toUiNodePartial .)}}
          {{/if}}        
        {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
{{/if}}

<script>
  $(document).ready(function () {
    $('#roles').on('change', (event) => {
      const role = event.target.value;
      switch(role) {
        case 'Engineer': 
          $('#email-input').val('demo.engineer@kern.ai');
          $('#password-input').val('c34540903b9f');
          $('#description').html('Administers the project and works on programmatic tasks such as labeling automation or filter settings. They have access to all features of the application, including the Python SDK.')
          break;
        case 'Annotator':
          $('#email-input').val('demo.annotator@kern.ai');
          $('#password-input').val('c34540903b9f');
          $('#description').html('Working on manual labels as if they were heuristics. They can be switched on/off by the engineering team, so that the engineers can in- or exclude them during weak supervision. They have access to a task-minimized labeling view only. Engineers can revoke their access to the labeling view.');
          break;
        case 'Expert':
          $('#email-input').val('demo.expert@kern.ai');
          $('#password-input').val('c34540903b9f');
          $('#description').html('Working on reference manual labels, which can be used by the engineering team to estimate the data quality. They have access to the labeling view only.');
          break;
      }
    });
  });
</script>